{% include "common/header.html" %}
    <main role="main">
        <div class="container">
            <h1 class="text-center pt-3">Aashish Biradar's Blog</h1>
            <div>
                <h2>Latest Posts</h2>
                <hr>
                {% for blog in blogs.all %}
                    <div>
                        <h4><a href="{% url 'bloghome' %}{{blog.urlkey}}">{{ blog.title}}</a></h4>
                        <p>Published on {{blog.pub_date_pretty}}</p>
                        <img style="max-width:100%;max-height:300px;" src="{{ blog.image.url}}" alt="{{ blog.title}">
                        <div>
                            <p>{{ blog.summary}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% include "common/footer.html" %}